body {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url(../image/polygonal-grey-background-abstract-vector-geometric-design-polygonal-grey-background-abstract-vector-geometric-design-135285197.jpg) ;
}

header {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}
nav {
    display:flex;
    justify-content: space-around;
    line-height: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique ;
}

#Link {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border: 2px solid black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    padding: 20px;
    background-color: white;
}

h2 {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 400px;
    background-color: white;
}